body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 600px;
    margin: 30px auto;
    background: #fff;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

.form-container, .search-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background: rgb(65, 161, 216);
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: rgb(202, 140, 6);
}

.list-container {
    max-height: auto;
    overflow-y: auto;
    border-radius: 4%;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
    margin: 5px 0;
    background: #f9f9f9;
    border: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

li span {
    flex: 1;
}

li button {
    margin-left: 10px;
    background: #e03e4f;
}

li button:hover {
    background: #c82333;
}
